{% include base_path %}

{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | prepend: "/images/" | prepend: base_path }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  </div>
{% endif %}


{% if page.author_profile or layout.author_profile %}
  {% include author-profile.html %}

  <!-- Custom Block: References -->
  <div class="sidebar-ref">
    <strong>References</strong><br>
    <a href="https://www.udel.edu/academics/colleges/canr/departments/applied-economics-and-statistics/faculty-staff/martin-heintzelman/" target="_blank">Prof. Martin D. Heintzelman</a><br>
    <a href="https://www.udel.edu/academics/colleges/ceoe/departments/smsp/faculty/george-parsons/" target="_blank">Prof. George Parsons</a><br>
    <a href="https://www.udel.edu/academics/colleges/ceoe/departments/smsp/faculty/anna-birkenbach/" target="_blank">Prof. Anna Birkenbach</a>
    <a href="https://www.udel.edu/academics/colleges/canr/departments/applied-economics-and-statistics/faculty-staff/christina-mcgranaghan/" target="_blank">Prof. Christina McGranaghan</a>
  </div>
{% endif %}

